/*****CONTACT FORM*****/

.wpcf7-form{
    position:relative;
    width:597px;
    height:791px;
    border: solid 5px black;
    display:block;
    margin-left:auto;
    
    }

.wpcf7-form-control{
    display:flex;
    width:263px;
    height:40px;
    border: solid 1px black;
    border-radius:6px;
}

.form-title{
    font-size:46px;
    font-weight:500;
    font-style:italic;
    margin-top:0px;
    font-family: 'Space Mono';
}

.form-label{
    font-family:'Poppins';
    font-size:12px;
    font-weight:500;
    line-height:18px;
    gap:20px;
}

.form-content{
 display:flex;
 justify-content: center;
 align-items:center;
 flex-direction:column;
 margin-top:-30px;
}

.wpcf7-submit{
  width:270px!important;
  height:50px;
  text-decoration:none!important;
  font-size:12px;
  margin-left: 163px;
  border-radius:2px;
}

.wpcf7-textarea{
  height:210px!important;
  font-family: 'Space Mono';
}

#reference-photo{
  width:265px;
  height:35px;
  line-height:12px;
  border:solid 1px black;
  border-radius: 6px;
  text-decoration:none;
}

