.photoContainer {
    width: 100%;
    height: 962px;
    object-fit: cover;
}

.title1 {
    font-family: 'space-mono';
    color: white;
}


.l {
    width: 100%;
    height: 90px;
}

.catalogue_photos {
    display:grid;
    grid-template-columns: 500px 500px;
    column-gap: 22.2em;
    gap:22.2em;
    width: 100%;
}

.filters{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

