/*RESPONSIVE*/

@media screen and (min-width:381px){
/*MENU BURGER*/

#burger-button{
	display:none;
}
.modal-burger,.modal-button{
	display:none;
}
}


@media screen and (max-width:380px){

/*****MENU BURGER*****/

	.modal-button{
		display:flex;
	}

	.logo{
		width:135px;
		height:9px;
		margin-left:35px;
	}

	.menu-item a{
		color:white!important;
	}

	.navbar{
		display:none;
	}

	#popup-overlay{
		display:none;
	}
	.nojq{
		display:none;
	}
	

/*****FORMULAIRE DE CONTACT*****/

	.form-title{
		font-size: 22px;
		justify-content: center;
		line-height:20px;
	}

	.wpcf7-form{
		width:100%;
		border: solid 5px black;
		border-radius:6px;
		
		
		.wpcf7-form-control{
			margin-left: 5px;
		}
				
		.form-label{
			margin-left:5px;
			line-height:10px;	
		}
		
		.wpcf7-submit{
		    font-size:12px;
			background-color:#d8d8d8;
			margin-left: 30px;
		}
		
		.wpcf7-textarea{
		  height:210px!important;
		}	
	}

			
/*****POPUP*****/
	.popup-overlay{
		position:absolute;
		left: 2px;
  		margin-top: 130px;
	}
	
	.popup-salon{
		display:inline-block;
		position:relative;
		background:white;
		margin-right:50px;
		line-height: 0px;
		color:black;
		border-radius:6px;
		transition:all 0.4s ease;
		margin-left: 44px;
	}
		
	.popup-close{
		position:absolute;
		top: 10px;
		right:2px;
		border-radius:20px;
		height:20px;
		width:20px;
		border:1px solid black;
		background:white;
		cursor:pointer;
		display:flex;
		justify-content:center;
		align-items:center;
		transition:all 0.4s ease;
	}
	
	.popup-close:hover{
		transform:rotate(180deg);
	}

/***FRONT-PAGE***/
	.photoContainer{
	width: 380px!important;
	height:250px!important;
	}

	.title1 {
    font-family:'space mono';
    font-size: 30px!important;
	margin-left:30px!important;
	font-weight: 400;
    }

	.selection,.taxo{
	flex-direction: column!important;
	margin-left:-30px;
	}

	#format{
		margin-left:0px!important;
	}
	
	#orderby{
		margin-left:-30px!important;
		margin-top:-10px;
	}

	.cardPhoto {
		width:320px!important;
		height:280px!important;
		object-fit: cover;
		background-size: cover;
		background-position: center;
		position: relative;
		overflow: hidden;
	}
	.overlay{
		display:none;
	}

	#load-more{
		display:flex;
		margin-left:55px!important;
		
	}

	.footer{
		width: 375px;
	    height: 207px;
		border-top:solid 1px black;
	}
	
	.footerform{
		display: flex;
		background-color:#ffff;
	}

	.a{
		line-height: normal;
	}
	
	.footerbar{
		text-align:center;
		display:flex;
		align-items: center;
		flex-direction: column;
		list-style:none;
		text-decoration:none;
		line-height: 0.5em;
		font-size:16px;
		margin-left:-20px;
	}

	.menu-item-56 a{
		color: black!important;
	}

	.menu-item-57 a{
		color: black!important;
	}

	.menu-item-58 a{
		color: black!important;
	}
	

/*SINGLE-PAGE*/
	.post-container{
   		margin: 0!important;
   		padding: 0;
    }
	
	.image-post{
		width:265px!important;
		height:397px!important;
		width:100%;
		height:auto;
		object-fit:cover;
		margin-right:55px!important;
		float:none;
		position:absolute;
	}

	.title{
		margin-left:50px;
		font-size:44px!important;
	}
	
	.post-infos{
		display: flex;
		flex-direction: column;
	}

	.infos-photo{
		margin-top:400px;
		width: 100%!important;
	}

	.taxonomies{
		margin-left:55px;
	}

	.contact-bloc{
		flex-direction: column;
		flex-wrap: wrap;
		margin-bottom:30px;		
	}

	.photos-container{
		margin-left:-70px;
		flex-direction:column;
		flex-wrap:wrap;
		height:75vh;
		margin-top: 50px;
	}

	.p2{
		margin-left:70px;
		margin-top:0;
	}

	.imagesContainer{
		width: 100%;
  		display: flex!important;
  		position: absolute;
  		flex-direction:column;
		margin-top: 100px;
 	}

	
	.current_thumbnail img{
		display:none;
	}

	.navigation_arrows{
		display: none;
	}

	

	

/*****PAGE-ABOUT*****/
	.container{
		margin-top:20px!important;
		padding-left:20px;
		padding-right:20px;
	}
	
	.lorem{
		text-align: justify;
		font-family:'Space Mono', monospace;
		font-size:12px;
		margin-top: 10px;
		padding-bottom: 150px;
	   
	}
	
	.title2{
		font-family:'Space Mono', monospace;
		font-size:30px;
		font-style: italic;
	}



/*****LIGHTBOX*****/

	.lightbox {
		position: fixed;
		width:80%;
		height:60%
	}
	
	.lightbox_prev,
	.lightbox_next {
		border: none;
		width: 20px!important;
		height: 45px!important;
		position: fixed;
		top: 80%!important;
		margin-top: -50px;
		z-index: 10001;
		font-size: 40px;
		color: white;
		background: transparent;
		opacity: 0.5;
		cursor: pointer;
		transition: none;
	}
	
	.lightbox_prev:hover,
	.lightbox_next:hover {
		opacity: 0;
	}
	
	.lightbox_prev {
		margin-left: -205px;
	}
	
	.lightbox_next {
		margin-right: -90px;
	}
	
	.lightbox_close {
		width: 20px!important;
		height: 20px!important;
		right: 55px!important;
		font-size: 25px!important;
		color:white
	}
	
	
	.cat {
		display:none;
	}
	
	.ref {
		display:none;
	}
	
	.image-container {
		margin-right:25px;
	}
	
	.middle-image {
		max-width: 100%;
		max-height: 80%;
		height:500px!important;
		width:350px!important;
	}
	
	.overlay-lightbox {
		background-color: rgba(0, 0, 0, 3); 
	}

}