.contactButton{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #d8d8d8;
    color:white;
    border:none;
    width:272px;
    height:50px;
    cursor:pointer;
}

.list-container{
    list-style:none;
    font-family: 'space-mono';
    font-size:25px;
    font-weight: 400;
    margin-top: 500px;
}

.container{
    display:flex;
    justify-content: space-between;
}

.imageContainer{
    width:563px;
    height:864px;
}

.infos{
    display:flex;
    width:100%;
    flex-direction:row;
    height:140px!important;
    justify-content: space-between;
    align-items:center;
}


//****Miniatures****//

.thumbnail_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.current_thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current_thumbnail img {
    max-width: 118px;
    max-height: 118px;
    margin-bottom: 10px;
}

/* Style pour les flèches de navigation */
.navigation_arrows a {
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
    color: black;
    cursor: pointer;
}

.navigation_arrows a:hover {
    color: black;
}





